@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Spectral:300');

body{ background-color: white;
    color: black;
    text-align: center;
    margin: 2em;
}

p{ font-family: 'Spectral', serif;
	font-size: 18px;
}

ul{ font-family: 'Spectral', serif;
	font-size: 14px;
	text-align: left;
}

h1{
	font-family: 'Shadows Into Light', cursive; 
	font-size: 50px;
}

a{ font-size: 14px;
}

#slogan {
	font-style: italic;
	font-size: 18px;
}

#list {
	font-family: 'Shadows Into Light', cursive;
	font-size: 34px; 
}

#contact {
	font-family: 'Shadows Into Light', cursive;
}

header {
	background-color: black;
	color: #ebefe1;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #27a597;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #7ddc81;
	color: #ebefe1;
	border: 1px black solid;
	padding: 20px;
}


article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: #3ac3b4;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #ebefe1;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 45%;
	height: 400px
}

#right {
	background-color: #ebefe1;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 45%;
	height: 400px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

